body {
	background-color: #ffffff;
	font-family: 'Source Sans Pro', sans-serif;
}

.container {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.box {
	background-color: #ffffff;
	border: 1px solid #dfe5e7; 
	width: 670px;
	height: 320px;
	align-items: center;
	margin-bottom: 80px;
	position: relative;
	
}

.text-hight {
	font-size: 28px;
	color: #3c3950;
	font-family: "Montserrat" , sans-serif;
	margin-top: 28px;
	margin-left: 21px;
	font-weight: bold;	
}

.text-normal {
	font-size: 16px;
	font-family: "Source Sans Pro" , sans-serif;
	margin-left: 21px;
	margin-top: 30px;
	color: #5f727f;
}

.box:hover {
	background-color: #f0f3f2;
	cursor: pointer;
}

.item {
	display: flex;
	margin-left: 18px;
	margin-top: 36px;
}

.share {
	width: 30px;
	height: 30px;
	cursor: pointer;
	position: absolute;
}


.button {
	width: 125px;
	height: 30px;
	border-color: #00bbd3;
	font-size: 14px;
	font-family: "Montserrat", sans-serif;
	font-weight: bold;
	background-color: #ffffff;
	color: #00bbd4;
	border-radius: 5%;
	margin-left: 46px;
	position: absolute;
}

.button:hover {
	background-color: #00bbd4;
	cursor: pointer;
	color: white;
}

.like {
	margin-left: 22px;
}

.text-note {
	font-size: 14px;
	font-family: "Source Sans Pro" , sans-serif;
	line-height: 22px;
	color: #99a9b5;
	margin-left: 90px;
	margin-top: 19px;
	position: absolute;
}

.box1 {
	display: flex;
	margin-left: 18px;
}

.icon1 {
	margin-left: 480px;
	display: flex;
	width: 47px;
	height: 20px;
	margin-top: 19px;
}

.icon2 {
	margin-left: 14px;
	display: flex;
	width: 30px;
	height: 14px;
	margin-top: 19px;
}

.add {
	display: flex;
	justify-content: center;
	margin-bottom: -20px;
	height: 50px;
	width: 260px;
	font-family: "Montserrat", sans-serif;
	text-align: center;
	font-weight: bold;
	border-radius: 5%;
	font-size: 19px;
	color: #ffffff;
	letter-spacing: 1px;
	background-color: #b6c6c9;
	line-height: 54px;
}

.add:hover {
	cursor: pointer;
	background-color: white;
	color: #3c3950;
}

.ellip {
	display: flex;
	margin-right: 100px;
	margin-top: 90px;
	width: 91px;
	height: 91px;
}

.row {
	display: flex;
	justify-content: center;
}